.hero-section {
  float: left;
  padding: 1em;
}

.hero-section section {
  float: left;
  padding: 1em;
}

.backend-hero img:hover {
  border: 3px solid red;
}

.frontend-hero img:hover {
  border: 3px solid yellow;
}

#backend-intro {
  display: none;
}

.backend-hero p {
  width: 460px;
}

#frontend-intro {
  display: none;
}

.frontend-hero p {
  width: 460px;
}