html {
  padding: 0;
  margin: 0;
}

header {
  height: 5em;
  background-color: aliceblue;
}

.hero-city {
  height: 20em;
  width: 100vw;
  background-image: url('../images/hero_city.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.hero-section {
  float: left;
  padding: 1em;
}

.hero-section section {
  float: left;
  padding: 1em;
}

.backend-hero {
  float: left;
}

.backend-hero img:hover {
  border: 3px solid lightgreen;
}

.frontend-hero {
  float: right;
}

.frontend-hero img:hover {
  border: 3px solid yellow;
}

#backend-hero-intro {
  display: none;
}

.backend-hero p {
  width: 460px;
}

#frontend-hero-intro {
  display: none;
}

.frontend-hero p {
  width: 460px;
}